<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE TEST 3</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <h1 :title="infoDate">Filtrer un tableau avec computed</h1>
        <h2>Liste des expériences :</h2>
        <ul>
            <li v-for="experiment in experiments">
                {{ experiment.name }} // {{ experiment.cost }} M € // {{ experiment.field }}
            </li>
        </ul>
        <h2>Liste des expériences SAUF Physiques :</h2>
        <ul>
            <li v-for="experiment in nonPhysicsExperiments">
                {{ experiment.name }} // {{ experiment.cost }} M € // {{ experiment.field }}
            </li>
        </ul>

        <h2>Liste des expériences "Physiques" :</h2>
        <button @click="showPhysics = !showPhysics">{{ showPhysics ? 'Masquer' : 'Afficher' }} toutes les expériences
            "Physiques"</button>
        <ul v-if="showPhysics">
            <li v-for="experiment in physicsExperiments">
                {{ experiment.name }} // {{ experiment.cost }} M € // {{ experiment.field }}
            </li>
        </ul>

        <h2>Liste des expériences "Biologie" :</h2>
        <button @click="showBiology = !showBiology">{{ showBiology ? 'Masquer' : 'Afficher' }} toutes les expériences
            "Biologie"</button>
        <ul v-if="showBiology">
            <li v-for="experiment in biologyExperiments">
                {{ experiment.name }} // {{ experiment.cost }} M € // {{ experiment.field }}
            </li>
        </ul>

        <h2>Liste des expériences dont le coût est supérieur à 100 M :</h2>
        <button @click="showExpensive = !showExpensive">{{ showExpensive ? 'Masquer' : 'Afficher' }} toutes les
            expériences dont le coût est supérieur à 100 M</button>
        <ul v-if="showExpensive">
            <li v-for="experiment in expensiveExperiments">
                {{ experiment.name }} // {{ experiment.cost }} M € // {{ experiment.field }}
            </li>
        </ul>
    </div>

    <script>
        const MyVueApp = {
            data() {
                return {
                    experiments: [
                        {
                            name: 'Little boy',
                            cost: 2000,
                            field: 'Nuclear'
                        },
                        {
                            name: 'Phospho plant',
                            cost: 5,
                            field: 'Physics'
                        },
                        {
                            name: 'Nuclear central 1',
                            cost: 10,
                            field: 'Nuclear'
                        },
                        {
                            name: 'Underwater observatory',
                            cost: 500,
                            field: 'Physics'
                        },
                        {
                            name: 'Nuclear central 2',
                            cost: 10,
                            field: 'Nuclear'
                        },
                        {
                            name: 'Nuclear central 3',
                            cost: 104,
                            field: 'Nuclear'
                        },

                        {
                            name: 'Nuclear central 2',
                            cost: 10,
                            field: 'Biology'
                        },
                        {
                            name: 'Biology central 3',
                            cost: 104,
                            field: 'Biology'
                        }
                    ],
                    showPhysics: false,
                    showBiology: false,
                    showExpensive: false,
                }
            },
            computed: {
                nonPhysicsExperiments() {
                    return this.allButPhysics(this.experiments)
                },
                physicsExperiments() {
                    return this.getAllPhysics(this.experiments)
                },
                biologyExperiments() {
                    return this.getAllBiology(this.experiments)
                },
                expensiveExperiments() {
                    return this.getAllExpensive(this.experiments)
                }
            },
            methods: {
                allButPhysics(list) {
                    return list.filter(experiment => experiment.field !== 'Physics')
                },
                getAllPhysics(list) {
                    return list.filter(experiment => experiment.field === 'Physics')
                },
                getAllBiology(list) {
                    return list.filter(experiment => experiment.field === 'Biology')
                },
                getAllExpensive(list) {
                    return list.filter(experiment => experiment.cost > 100)
                }
            }
        }
        Vue.createApp(MyVueApp).mount('#app');
    </script>
</body>

</html>